# Next.js build output
.next/
out/

# Dependencies
node_modules/

# Environment variables
.env
.env.local
.env.*.local

# Misc
.DS_Store
*.pem
Thumbs.db

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript incremental build
*.tsbuildinfo
.claude/
